In [ ]:
import dash
import dash_bootstrap_components as dbc
import dash_core_components as dcc
import dash_html_components as html

# Criação do aplicativo Dash
app = dash.Dash(__name__, external_stylesheets=[dbc.themes.BOOTSTRAP])

# Layout do aplicativo
app.layout = html.Div(
    children=[
        html.H1("Exemplo de Dropdowns Alinhados"),
        dbc.Row(
            children=[
                dbc.Col(
                    dcc.Dropdown(
                        id='dropdown-1',
                        options=[
                            {'label': 'Opção 1', 'value': 'opcao1'},
                            {'label': 'Opção 2', 'value': 'opcao2'},
                            {'label': 'Opção 3', 'value': 'opcao3'},
                        ],
                        value='opcao1'
                    ),
                    width=3  # Largura do primeiro dropdown
                ),
                dbc.Col(
                    dcc.Dropdown(
                        id='dropdown-2',
                        options=[
                            {'label': 'Opção A', 'value': 'opcaoA'},
                            {'label': 'Opção B', 'value': 'opcaoB'},
                            {'label': 'Opção C', 'value': 'opcaoC'},
                        ],
                        value='opcaoA'
                    ),
                    width=3  # Largura do segundo dropdown
                ),
                # Adicione mais dbc.Col para mais dropdowns
            ],
            justify='center'  # Centralizar os elementos horizontalmente
        ),
        # Outros componentes e gráficos podem ser adicionados aqui
    ]
)

# Execução do aplicativo
if __name__ == "__main__":
    app.run_server(debug=True)

In [6]:
#lista = list(df['historia'].unique())
import pandas as pd
df = pd.read_csv("risco_credito_regras.csv")
lista = ['baixo','alto']
df.loc[df['risco'].isin(lista)]

        historia divida garantias     renda  risco
0           ruim   alta   nenhuma      0_15   alto
1   desconhecida   alta   nenhuma     15_35   alto
3   desconhecida  baixa   nenhuma  acima_35   alto
4   desconhecida  baixa   nenhuma  acima_35  baixo
5   desconhecida  baixa  adequada  acima_35  baixo
6           ruim  baixa   nenhuma      0_15   alto
8            boa  baixa   nenhuma  acima_35  baixo
9            boa   alta  adequada  acima_35  baixo
10           boa   alta   nenhuma      0_15   alto
12           boa   alta   nenhuma  acima_35  baixo
13          ruim   alta   nenhuma     15_35   alto

In [35]:
divida_names = list(df['divida'].unique())
divida_count = list(df['divida'].value_counts().values)
df_divida = pd.DataFrame({'names': divida_names, 'counts': divida_count})
df_divida

   names  counts
0   alta       7
1  baixa       7

In [46]:
df = pd.read_csv("risco_credito_regras.csv")
x = input()
print(x)
y = input()
print(y)
garantias  = [list(df['historia'].unique()) if x == "Todos" else x ]
print(garantias)
historia  = [list(df['garantias'].unique()) if x == "Todos" else y ]
print(historia)
df_filtered = df.loc[(df['garantias'].isin(garantias)) & (df['historia'].isin(historia))]
df_filtered

ruim
nenhuma
['ruim']
['nenhuma']

Empty DataFrame
Columns: [historia, divida, garantias, renda, c#risco]
Index: []

In [52]:
colors = {
        "Light":{
            'background':'xxxxx1',
            'font':'xxxxx2',
            'paper':'xxxxx3',
            'title':'xxxxx4'
                },
        "Dark":{
            'background':'xxxxx5',
            'font':'xxxxx6',
            'paper':'xxxxx7',
            'title':'xxxxx8'
                }
            }
col = colors['Dark']
print(col['background'])
print(col['font'])
print(col['paper'])
print(col['title'])

xxxxx5
xxxxx6
xxxxx7
xxxxx8